<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>poll.dance</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Webfonts -->
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/app/css/main.css" />
</head>
<body>
  
  <div class="main-container has-header">

    <header class="item header">
      <div class="item-content">
        <span class="header-title">poll<em>.dance</em> / 2</span>
      </div>
    </header>

    <div id="app">Loading...</div>

  </div>

  <script type="text/javascript">
    window.PD = {};
    window.BOOTSTRAP = <%= @bootstrap.to_json %>;
  </script>
  <script type="text/javascript" src="/assets/app/js/main.js"></script>

</body>
</html>
