<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>poll.dance</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <!-- Webfonts - experimienting -->
  <link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href="/assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/app/css/main.css" />
</head>
<body>
  
  <div id="app">
    Loading ...
  </div>

  <script type="text/javascript">
    window.PD = {};
    window.BOOTSTRAP = <%= @bootstrap.to_json %>;
  </script>
  <script type="text/javascript" src="/assets/app/js/main.js"></script>

</body>
</html>
