<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>poll.dance | a live democratic playlist for parties</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= asset_path 'stylesheets/home.css'%>" />
</head>

<body>

  <div class="content">
    <video autoplay loop muted id="bgvid">
      <source src="/public/home.mp4" type="video/mp4">
    </video>
    <header class="headline">
      <h1 class="title">poll<span class="highlight">.dance</span></h1>
      <p class="tagline">The people's playlist</p>

      <div>
        <a class="btn">
          Coming Soon
        </a>
      </div>

    </header>
  </div>

</body>
</html>
