// New
$black: rgba(0,0,0,.87);
$darkgray: rgba(0,0,0,.54);
$midgray: rgba(0,0,0,.26);
$lightgray: rgba(0,0,0,.12);

$white: #FFFFFF;
$strongwhite: rgba(255,255,255,.7);
$midwhite: rgba(255,255,255,.3);
$lightwhite: rgba(255,255,255,.12);


$darktheme: #2C3E50;
$lighttheme: #34495E;
$accent: #E74C3C;

body{
  color: $black;
}