
/* Global container */
.app-container{
  width: 100%;
  overflow: hidden;
}

.pane, .view{
  // overflow: hidden;
}

section{
  // Animate slide
  transition: transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  width: 100%;
}

.scroll-content{
  overflow: scroll;
}