@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('/assets/fonts/shared/Montserrat-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/shared/Roboto-Regular.ttf')  format('truetype');
}

@mixin headfont{
	font-family: "Montserrat";
	font-weight: 700;
};

@mixin basefont{
	font-family: "Roboto";
	font-weight: 400;
};

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  @include basefont();
}
