$black: rgba(0,0,0,.87);
$darkgray: rgba(0,0,0,.54);
$midgray: rgba(0,0,0,.26);
$lightgray: rgba(0,0,0,.12);

$white: #FFFFFF;
$strongwhite: rgba(255,255,255,.7);
$midwhite: rgba(255,255,255,.3);
$lightwhite: rgba(255,255,255,.12);


$darktheme: #2C3E50;
$lighttheme: #34495E;
$accent: #E74C3C;


@mixin headfont{
  font-family: "Montserrat";
  font-weight: 700;
};

@mixin basefont{
  font-family: "Roboto";
  font-weight: 400;
};


html {
  font-size: 62.5%
}

body{
  background: $darktheme;
  padding: 0;
  margin: 0;
  color: $white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  @include basefont();
}

.content{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  text-align: center;
  background-color: rgba($darktheme, 0.8);
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
  transform: translateX(-50%) translateY(-50%) scale(1.3);
  background: $darktheme;
  background-size: cover;
}

.headline{
  text-align: center;
  padding: 4rem 0;

  .title{
    @include headfont();
    font-size: 6rem;
    line-height: 1.6em;
    animation: fadein 200ms infinite;

    .highlight{
      color: $accent;
    }
  }

  .tagline{
    @include headfont();
    color: $strongwhite;
    font-size: 2.6rem;
    line-height: 4rem;
    animation: easein 300ms ease 200ms;
  }
}

.btn{
  margin-top: 3em;
  font-size: 2.4em;
  padding: 0.5em 1.2em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  @include headfont();
  background: $accent;
  color: $white;
}


@-webkit-keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
