/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$basefont: 'Lato', sans-serif;
$headfont: 'Montserrat';

body{
  font-family: $basefont;
  color: $darkback;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
  font-size: $inner-height * 0.6;
  line-height: $inner-height;
  font-family: $headfont;
  margin: 0;
  font-weight: 700;
}