.header{
  background-color: $darktheme;
  color: $white;
  position: fixed;
  border-bottom: none;
  top: 0px;
  z-index: 3;
}

.has-header{
  margin-top: $height;
}

.header-title{
  @include headfont();
  line-height: $inner-height;
  font-size: $font-size;
}

.subheader{
  background: $lighttheme;
  color: $white;
}