// Grid dimensions

.item{
  width: 100%;
  height: $height;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute; // Moved via GPU transforms
  background: white;
}

.item-content{
  padding: $padding;
}

.item-line{
  height: $inner-height / 2;
  line-height: $inner-height / 2;
  overflow: hidden;
  text-overflow: ellipsis;  
  display: block;
  font-size: $font-size / 2;
}

.item-left{
  margin-right: $height;
}

.item-right{
  z-index: 3;
  width: $height;
  height: $height;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
}

.item-slider{
  z-index: 2;
  height: $height;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0px;
  color: $white;
  background: $accent;
}

.item-icon{
  font-weight: 300;
  text-align: center;
  line-height: $inner-height;
  display: block;
  width: $inner-height;
  height: $inner-height;
  font-size: $inner-height * 0.6;
  color: inherit;
}  

// Faster animation
.item-spinner{
  -webkit-animation: fa-spin 500ms infinite linear;
  animation: fa-spin 500ms infinite linear;
}
