
/* Global container */
.app-container{
  width: 100%;
  overflow: hidden;
}

body{
  width: 100%;
  overflow: hidden;
}

section{
  position: absolute;
  top: 72px;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
}