.track{
  transition: transform 300ms ease;  
  color: $darkgray;
}

.track-title{
  font-weight: 700;
  font-size: 14px;
  height: $inner-height / 2;
  line-height: $inner-height / 2;
  display: block;
}

.track-artist{
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  height: $inner-height / 2;
  line-height: $inner-height / 2;
  display: block;
}
