.track{
  transition: transform 300ms ease;
}

.track-artist{
  color: $midgray;
}

.track-score{
  @include headfont();
  transition: opacity 100ms ease;
}

.track .item-left, .track .item-slider{
  transition: transform 100ms ease;
}