/* Fonts */
$basefont: 'Lato', sans-serif;
$headfont: 'Montserrat';

body{
  font-family: $basefont;
  color: $darkback;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
  font-size: $inner-height * 0.6;
  line-height: $inner-height;
  font-family: $headfont;
  margin: 0;
  font-weight: 700;
}